.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    margin: 5px;
    color: black;
    background-color: azure;
    border: 2px darkgray solid;
    border-radius: 5px;
}
.buttons:hover{
    background-color: aqua;
}

.row{
    display: flex;
    flex-direction: row;
}