.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    margin: 5px;
    color: black;
    background-color: azure;
    border: 2px darkgray solid;
    border-radius: 5px;
    cursor: pointer;
}
.buttons:hover{
    background-color: aqua;
}

.row{
    display: flex;
    flex-direction: row;
}
.column{
    width: fit-content;
    border: 2px darkgrey solid;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.text{
    border: 2px darkgrey solid;
    padding: 2px;
    height: 60px;
    text-align: left;
    margin-bottom: 7px;
}